SPID_TRENTINO_CLIENT_ID=your-client-id
SPID_TRENTINO_CLIENT_SECRET=your-client-secret
SPID_TRENTINO_REDIRECT_URI=https://your-app.test/spid/callback
SPID_TRENTINO_PROVIDER_URL=https://aac-test.cloud-test.tndigit.it
SPID_TRENTINO_SCOPES="openid profile.codicefiscale.me email offline_access"
SPID_TRENTINO_REDIRECT_TO=
SPID_TRENTINO_SESSION_FALLBACK=false
SPID_TRENTINO_TRANSACTION_LOG_ENABLED=true
